<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.inkbrief">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_edit"
        android:label="InkBrief"
        android:theme="@style/InkBriefTheme">

        <activity
            android:name=".MainActivity"
            android:label="InkBrief"
            android:exported="true"
            android:theme="@style/InkBriefTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:label=""
            android:theme="@style/InkBriefTheme" />

        <activity
            android:name=".SettingsActivity"
            android:label="设置"
            android:theme="@style/InkBriefTheme" />
    </application>
</manifest>
